[data-theme="dark"]{
    --color-bg: #282828;
    --text-color: #ffffff;
    --color-fg:  #000000;
 }
 [data-theme="light"]{
     --color-bg: #fcf5e5;
     --text-color: #000000;
     --color-fg: #ffffff;
 }
 body{
     background-color: var(--color-bg);
     color: var(--text-color);
     min-height: 100vh;
     font-family: 'Poppins', 'Roboto', 'Segoe UI', Arial, sans-serif;
     font-size: 1rem;
     overflow-y: scroll;
     flex-direction: column;
     display: flex;
 }
 header {
     overflow: hidden;
     justify-content: center;
     display: flex;
     top: 0;
     position: fixed;
     flex-direction: row;
     width: 100vw;
     min-height: 4.3vh;
     z-index: 40;
     background-color: var(--color-bg);
     @media (width < 768px)
     {
         height: 100vh;
         width: 100%;
         display: flex;
         flex-direction: column;
         position: fixed;
         right: 0;
         top: 0;
         z-index: 40;
     }
 }
 .navbarOpen{
     display: none;
     position: fixed;
     top: 2vh;
     right:2vw;
     cursor: pointer;
     z-index: 50;
     height: 26px;
     width: 35px;
     outline: none;
     background: none;
     border: none;
     padding: 0;
     color:var(--text-color);
     @media (width < 768px)
     {
        display: flex;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
     }
 }
 .navbarOpen span{
    display: block;
    width: 100%;
    height: 3px; 
    background-color: var(--text-color);
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transform-origin: center;
}
.navbarOpen span.hovered{
    background-color: orange;
}
@keyframes OpenMenuTop{
    0%{transform: translateY(0)rotate(0);}
    50%{transform: translateY(11.5px)rotate(0);}
    100%{transform: translateY(11.5px)rotate(-45deg);}
}
@keyframes OpenMenuMid{
    0%{opacity: 1;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes OpenMenuBot{
    0%{transform: translateY(0)rotate(0);}
    50%{transform: translateY(-11.5px)rotate(0);}
    100%{transform: translateY(-11.5px)rotate(45deg);}
}
@keyframes CloseMenuTop{
    0%{transform: translateY(11.5px)rotate(-45deg);}
    50%{transform: translateY(11.5px)rotate(0);}
    100%{transform: translateY(0)rotate(0);}
}
@keyframes CloseMenuMid{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 1;}
}
@keyframes CloseMenuBot{
    0%{transform: translateY(-11.5px)rotate(45deg);}
    50%{transform: translateY(-11.5px)rotate(0);}
    100%{transform: translateY(0)rotate(0);}
}
.navbarOpen.open span:nth-child(1){
    animation-name: OpenMenuTop;
    animation-duration: 0.5s;
    animation-fill-mode:forwards;
}
.navbarOpen.open span:nth-child(2){
    animation-name: OpenMenuMid;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
}
.navbarOpen.open span:nth-child(3){
    animation-name: OpenMenuBot;
    animation-duration: 0.5s;
    animation-fill-mode:forwards;
}
    .navbarOpen.close span:nth-child(1){
        animation-name: CloseMenuTop;
        animation-duration: 0.5s;
        animation-fill-mode:forwards;
    }
    .navbarOpen.close span:nth-child(2){
        animation-name: CloseMenuMid;
        animation-duration: 0.3s;
        animation-fill-mode:forwards;
    }
    .navbarOpen.close span:nth-child(3){
        animation-name: CloseMenuBot;
        animation-duration: 0.5s;
        animation-fill-mode:forwards;
    }
 .mobileTop{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-content: center;
    z-index: 40;
    @media (width < 768px)
    {
    position: fixed;
    height: 7%;
    width: 100%;
    top: 0;
    flex-direction: row;
    gap:86%;
    }
 }
 .navbar{
     width: 100vw;
     position: absolute;
     top: 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     min-height: 5vh;
     font-size: clamp(1rem, 0.9vw + .3rem, 1.5rem);
     background-color: var(--color-bg);
     z-index: 40;
     right: 2vw;
     @media (width < 768px)
     {
         flex-direction: column;
         right: 0;
         width: 100%;
         height: 100%;
         justify-content: center;
         background-color: transparent;
         font-size: clamp(1.3rem, 1.2vw + .3rem, 1.8rem);
         transform: translateY(-100%);
         transition: transform 200ms ease-in-out;
     }
 }
 .navbar.side-menu{
     transform: translateY(0);
 }
 .overlay{
     @media (width < 768px)
     {
         display: none;
         width: 100vw;
         height: 100vh;
         z-index: 40;
         background-color: var(--color-fg);
         opacity: 1;
         position: fixed;
         top: 0;
         right: 0;
     }
 }
 ul{
     display: flex;
     justify-content: space-between;
     list-style-type: none;
     box-sizing: content-box;
     flex-direction: row;
     height: inherit;
     margin: 0;
     padding: 0;
     width: 70%;
     padding-bottom: 1vh;
     margin-left: 15vw;
     margin-right: auto;
     z-index: 50;
     background-color: var(--color-bg);
     border-bottom: black 2px solid;
 }
 @media (width < 768px){
        ul{
         flex-direction: column;
         border: none;
         box-sizing: border-box;
         left: 0;
         height: 86%;
         width: 100vw;
         z-index: 50;
         margin: 0;
         padding-left: 10%;
         padding-bottom: 3%;
         padding-top: 3%;
         border-top: 2px solid;
         border-top-color: var(--text-color);
         opacity: 0;
         transition: opacity 1000ms ease-in-out;
     }
     .navbar.side-menu ul {
        opacity: 1;
    }
}
@media(width<1150px)
{
    ul{
        width: 90%;
        margin-right: 7%;
        margin-left: 3%;
    }
}
@media (width>=2000px)
{
    ul{
        margin-left: 23vw;
        width: 45%;
    }
}
 a{
     color: var(--text-color);
     text-decoration: none;
     transition: color 0.3s ease;
     position: relative;
 }
 .menu a::after{
     content: '';
     opacity: 1;
     position: absolute;
     bottom: 0;
     left: 0;
     width: 0;
     height: 0.2rem;
     background-color: orange;
     transition: width 100ms ease-in-out;
 }
 .menu a:hover{
     color: orange;
 }
 .menu a:hover::after{
     width:100%;
 }
 .themeChange{
     display: flex;
     z-index: 50;
     width: fit-content;
     height: fit-content;
     box-sizing: border-box;
     justify-content: center;
     align-items: center;
     scale: 150%;
     gap: 20%;
     user-select: none;
     @media (width < 768px){
        position: fixed;
        left: 10vw;
        align-self: center;
     }
 }
 .themeChange:hover svg path,
.themeChange:hover svg circle {
    stroke: orange;
}
 .themeChange svg path:hover{
    stroke: orange;
 }
 main{
     width: clamp(768px, 40%, 1600px);
     min-height: 95vh;
     display: flex;
     align-items: stretch;
     flex-direction: column;
     z-index: 30;
     align-self: center;
     margin-top: 4%;
     @media (width < 768px)
     {
         margin: auto;
         height: 100%;
         width: 80vw
 
     }
 }
 .abwrapper {
     display: flex;
     position: relative;
     height: 100%;
     font-size: clamp(1rem, 0.8rem+0.5%vw, 1.5rem);
 }
 .abwrapper h{
     font-size: clamp(2.5rem, 2vw + 1rem, 3rem);
 }
 .about{
     text-align: left;
 }
 .edwrapper {
     display: flex;
     position: relative;
     height: 40vh;
 }
 .stwrapper {
     display: flex;
     position: relative;
     height: 40vh;
 }